<div class="bubbleroll">
    <div class="flavor">
        {{#if data.flavor}}
            <i class="icon fa fa-dice-d20"></i> {{ data.flavor }}
        {{/if}}
    </div>
    <div class="summary">
        {{ localize "BUBBLEROLLS.RollsA" }} 
        {{#each roll.terms}}
           {{{rollPart this}}}
        {{/each}}
        = <strong>{{roll.total}}</strong>
    </div>
</div>